*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
