*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

body {
  background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
}

.container {
  padding: 25px;
}

.container__header {
  margin: 55px 0 50px;
  text-align: center;
}

.container__reviews {
  margin-bottom: 50px;
}

.summary__heading {
  margin: 0;
  color: #502050;
  line-height: 1.1;
  font-size: 1.9rem;
}

.summary__text {
  margin: 22px 0 45px;
  color: #937b92;
  line-height: 1.65;
  font-size: 0.9rem;
}

.ratings {
  list-style: none;
  padding: 0;
}

.ratings__item {
  background-color: #f7f2f7;
  border-radius: 8px;
  margin-top: 20px;
  padding: 15px;
}

.ratings__star {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 2px;
}

.ratings__text {
  font-weight: 700;
  font-size: 0.8rem;
  color: #502050;
  margin: 10px 0 0 0;
}

.review {
  background-color: #502050;
  border-radius: 8px;
  padding: 30px;
  margin-top: 15px;
}

.review__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 5px 0 30px;
}

.review__avatar {
  border-radius: 50%;
  width: 40px;
  height: auto;
}

.review__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
}

.review__name {
  line-height: 1;
  font-size: 0.8rem;
  color: white;
  margin: 0;
}

.review__reference {
  line-height: 1;
  font-size: 0.8rem;
  color: #ee68a4;
  margin: 7px 0 0 0;
}

.review__text {
  line-height: 1.75;
  font-size: 0.8rem;
  text-indent: 0.25rem;
  color: white;
  margin: 0;
}

.attribution {
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  color: #502050;
}

.attribution a {
  color: #502050;
  font-weight: 700;
}

@media only screen and (min-width: 1160px) {
  body {
    min-height: 100vh;
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
  }
  .container {
    margin: auto;
    max-width: 1160px;
  }
  .container__header {
    margin: 105px 0 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
  .container__reviews {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
  }
  .summary {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-right: 100px;
  }
  .summary__heading {
    line-height: 1.075;
    font-size: 2.8em;
  }
  .summary__text {
    margin: 15px 0 0;
    font-size: 0.89em;
    font-weight: 500;
  }
  .ratings {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 0;
    margin: 0;
  }
  .ratings__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ratings__item:nth-child(1) {
    margin-left: 15px;
    margin-right: 100px;
  }
  .ratings__item:nth-child(2) {
    margin-left: 65px;
    margin-right: 50px;
  }
  .ratings__item:nth-child(3) {
    margin-left: 115px;
  }
  .ratings__score {
    padding: 0 25px 0 15px;
  }
  .ratings__text {
    margin: 0;
  }
  .review {
    height: 235px;
  }
  .review:nth-child(1) {
    margin-top: 0px;
  }
  .review:nth-child(2) {
    margin-top: 15px;
  }
  .review:nth-child(3) {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=style.css.map */